*{
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

.header{
    padding: 20px 30px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchbar{
    width: 300px;
    height: 30px;
    font-size: 1.1rem;
}

#login-logout{
    width: 75px;
    height: 30px;
    font-size: 1.2rem;
}

.mainwrap{
    margin: 20px 0;
    display: flex;
}

.main{
    flex: 2;
}

.sidebar{
    flex: 1;
    margin-left: 20px;
}


.definitioncont, .contributecont{
    border: black solid;
    margin-bottom: 20px;
    padding: 20px;
}

.definitioncont{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.word{
    flex: 1;
}

.definition{
    flex: 2;
}